@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
  font-family: "Ubuntu",sans-serif;
}

h1{
  text-align: center;
  font-weight: 800;
  font-size: 45px;
}

.form-section{
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form{
  width: 300px;
  margin: auto;
}

.search-bar {
  width: 50%;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 15px;
}

.search-button {
  height: 35px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 0 20px;
}

.search-button:hover {
  background-color: #45a049;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-thumbnail {
  width: 320px;
  height: 320px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

#image-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 2;
}

#modal-image {
  width: 70vw;
  height: 100vh;
  display: block;
  object-fit: contain;
  margin-inline: auto;
}

#caurosel{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.close {
  position: absolute;
  font-weight: 100;
  background: none;
  border: none;
  top: 55px;
  right: 55px;
  color: #aaa;
  font-size: 75px;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #fff;
  cursor: pointer;
}


@media (max-width:450px) {
  #image-container {
    justify-content: space-around;
  }

.form-section{
  height: 120px;
}

h1{
  font-size: 30px;
}

  .image-thumbnail {
    width: 100vw;
    height: 400px;
    object-fit: cover;
  }

  #modal-image {
    width: 100vw;
    height: 100vh;
  }

  #carousel{
    display: block;
    position: absolute;
  }

.close{
  display: none;
}
}
